.page {
  background-color: var(--color__black);
  color: var(--color__white);

  font-family: var(--font-family);
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  font-weight: var(--font-weight_reg);

  max-width: 880px;
  min-width: 320px;
  margin: 0 auto;

  box-sizing: content-box;
}

/* @media screen and (max-width: 879px ) {
  .page {
    padding: 0 19px;
  }
} */
