.button {
  opacity: 1;
  transition: visibility .2s, opacity .2s linear;
  border: 0;
  cursor: pointer;
}

.button:hover,
.button:focus {
  opacity: .6;
  cursor: pointer;
  outline-width:0;
}

.button:active {
  transform: scale(.97);
  cursor: pointer;
}
