.popup__container_type_image {
  background: none;
  width: auto;
  height: auto;
  padding: 0;
  margin: 90px 0 0 ;
  border-radius: unset;
  display: block;
}

@media screen and (max-width: 586px) {
  .popup__container_type_image {
    margin: 0;
  }
}

@media screen and (max-width: 376px) {
  .popup__container_type_image {
    margin: 0 40px;
  }
}
