.page_fixed {
  position: fixed;
  left: 50%;
  margin-left: calc(-459px - 8px ); /* половина ширины минус половина scrollbar(17px) */
}

@media screen and (max-width: 935px) {
  .page_fixed {
    left: 0;
    margin-left: 0;
    width: 100vw;
  }
}


