.popup__close {
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: -40px;
  right: -40px;
  background: url('../../../images/svg/close.svg') center / contain no-repeat;
  transition: var(--transition__link);
  opacity: 1;
  border: 0;
}

.popup__close:focus {
  border: rgba(0, 0, 0, .0) solid 2px;
  outline: var(--color__white) solid 1px;
  border-radius: 2px;
}

.popup__close:hover {
  opacity: .6;
}

.popup__close:active {
  transform: var(--transform__button);
}

@media screen and (max-width: 586px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
