.header {
  height: 74px;
  padding: 45px 19px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--color__grey);
}

@media screen and (max-width: 879px ) {
  .header {
    height: clamp(56px, 12vw, 74px);
    padding:
    clamp(28px, 6vw, 45px)
    28px 0;
    margin-bottom: 42px;
  }
}
