.header {
  padding: 45px 19px 41px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--color__grey_7);
  flex-shrink: 0;
}

@media screen and (max-width: 879px ) {
  .header {
    padding:
      clamp(28px, 6vw, 45px)
      28px
      clamp(32px, 6vw, 41px);
    margin-bottom: 42px;
  }
}
