.profile__subtitle {
  margin: 15px 0 0;
  padding: 0;
  width: 100%;
  font-size: var(--font-size__text);
  line-height: var(--line-height__text);
  font-weight: var(--font-weight_reg);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

