.element__caption {
  display: block;
  width: calc(100% - 42px);
  margin: 0;
  line-height: 80px;

  color: var(--color__black);
  font-size: var(--font-size__h2);
  font-weight: var(--font-weight_black);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  padding: 0 15px 0 21px;
  box-sizing: border-box;
}
