.element__like-button {
  width: 22px;
  height: 19px;
  margin-right: 20px;
  background: url('../../../images/svg/heart.svg') center / contain no-repeat;

  opacity: 1;
  transition: var(--transition__link);
  border: 0;

}

.element__like-button:hover,
.element__like-button:focus {
  opacity: .5;
  cursor: pointer;
  outline-width:0;
}

.element__like-button:active {
  background-image: url('../../../images/svg/heart_fill.svg');
  cursor: pointer;
}
