:root {
/********* Цвета *********/

  --color__black: #000;
  --color__white: #fff;
  --color__grey: #545454;

/********* Отступы *********/

  /* --gap__ */

/********* Шрифты *********/

  --font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;

  --font-size__h1: 42px;
  --font-size__label: 24px;
  --font-size__text: 18px;
  --font-size__form: 14px;

  --line-height__h1: 48px;
  --line-height__text: auto;

  --font-weight_reg: 400;
  --font-weight_medium: 500;
  --font-weight_black: 900;

/********* Анимации *********/

  --trans__link: opacity .3s ease-out;

}


@media screen and (max-width: 879px ) {
  :root {
  --font-size__h1: clamp(27px, 3vw, 42px);
  --font-size__text: clamp(14px, 3vw, 18px);

  --line-height__h1: auto;
  }
}
